$standard_radius: 6px;
$circular_radius: 9999px;
$window_radius: 8px;
//
// sizes
$small_size: if($compact == true, 14px, 16px);
$normal_size: if($compact == true, 22px, 24px);
$large_size: if($compact == true, 30px, 32px);
// padding
$small_padding: if($compact == true, 1px, 2px);
$normal_padding: if($compact == true, 2px, 4px);
$large_padding: if($compact == true, 6px, 8px);
$larger_padding: if($compact == true, 10px, 12px);
