/* Copyright 2009, 2015 Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */
/* GLOBALS */
$font-size: 11;
$menu_slice: 16 16 16 16;
$font-family: Cantarell, Sans-Serif;
$_wm_border: if($variant == "light", transparentize(black, 0.77), transparentize($border_color, 0.1));
$_shadow_border: 0 2px 4px 1px transparentize(black, 0.5), 0 0 0 1px $_wm_border;

stage {
  font-family: $font-family;

  @include fontsize($font-size);

  color: $fg_color;
}

* {
  transition-duration: 150ms;
}

/* WIDGETS */
/* Buttons */
.button {
  border-width: 0;
  padding: 4px 32px;

  @include button(normal);
}

.modal-dialog-linked-button {
  border-color: $border_color;
  padding: 12px;

  @include button(linked);

  &:first-child:last-child {
    // if you're the first and last child then you're the only child
    // just like those crappy riddles
    @include button(linked-end);
  }

  &:first-child {
    @include button(linked);
  }

  &:last-child {
    @include button(linked-end);
  }
}

/* Entries */
StEntry {
  transition-duration: 250ms;
  padding: 6px 8px;
  color: $fg_color;

  @include entry;

  selection-background-color: $primary_color;
  selected-color: $selected_fg_color;

  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: $warning_color;
    padding: 0 4px;
  }
}

/* Scrollbars */
StScrollView {
  &.vfade {
    -st-vfade-offset: 48px;
  }

  &.hfade {
    -st-hfade-offset: 48px;
  }
}

StScrollBar {
  padding: 0;

  StScrollView & {
    min-width: 12px;
    min-height: 12px;
  }

  StBin#trough {
    border-radius: 0;
    background-color: transparent;
  }

  StButton#hhandle,
  StButton#vhandle {
    border-radius: 8px;
    background-color: transparentize(mix($fg_color, $bg_color, 60%), 0.3);

    //border: 3px solid transparent; //would be nice to margin or at least to transparent
    margin: 0;

    &:hover {
      background-color: mix($fg_color, $bg_color, 80%);
    }

    &:active {
      background-color: $primary_color;
    }
  }
}

/* Slider */
.slider {
  height: 5px;
  -slider-height: 5px;
  color: $base_color;
  -slider-background-color: $dark_fill;
  -slider-border-color: $border_color;
  -slider-active-background-color: $primary_color;
  -slider-active-border-color: _border_color($primary_color, $alt: true);
  -slider-border-width: 1px;
  -slider-handle-radius: 6px;
  -slider-handle-border-width: 1px;
  -slider-handle-border-color: $border_color;
}

/* Check Boxes */
.check-box {
  StBoxLayout {
    spacing: 0.8em;
  }

  StBin {
    width: 24px;
    height: 22px;
    background-image: url("assets/checkbox-off.svg");
  }

  &:focus StBin, &:hover StBin {
    background-image: url("assets/checkbox-off-focused.svg");
  }

  &:active StBin {
    background-image: url("assets/checkbox-off-active.svg");
  }

  &:checked StBin {
    background-image: url("assets/checkbox.svg");
  }

  &:focus:checked StBin, &:hover:checked StBin {
    background-image: url("assets/checkbox-focused.svg");
  }

  &:checked:active StBin {
    background-image: url("assets/checkbox-active.svg");
  }
}

/* Switches */
.toggle-switch {
  width: 56px;
  height: 26px;
  background-size: contain;
}

@each $v in us, intl {
  .toggle-switch-#{$v} {
    background-image: url("assets/toggle-off-#{$v}.svg");

    &:checked {
      background-image: url("assets/toggle-on-#{$v}.svg");
    }
  }
}

/* links */
.shell-link {
  color: $link_color;

  &:hover {
    color: lighten($link_color, 10%);
  }
}

/* Modal Dialogs */
.headline {
  font-size: 110%;
}

.lightbox {
  background-color: black;
}

.flashspot {
  background-color: white;
}

.modal-dialog {
  @extend %osd-panel;

  color: $fg_color;

  .modal-dialog-content-box {
    padding: 24px;
  }

  .run-dialog-entry {
    width: 20em;
    margin-bottom: 6px;
  }

  .run-dialog-error-box {
    padding-top: 16px;
    spacing: 6px;
  }

  .run-dialog-button-box {
    padding-top: 1em;
  }

  .run-dialog-label {
    @include fontsize($font-size);

    font-weight: bold;
    color: $fg_color;
    padding-bottom: 0.4em;
  }
}

.end-session-dialog-subject,
.mount-question-dialog-subject,
.show-processes-dialog-subject {
  //this should be a generic header class
  @include fontsize($font-size * 1.3);
}

/* End Session Dialog */
.end-session-dialog {
  @extend %osd-panel;

  spacing: 42px;
}

.end-session-dialog-list {
  padding-top: 20px;
}

.end-session-dialog-layout {
  padding-left: 17px;

  &:rtl {
    padding-right: 17px;
  }
}

.end-session-dialog-description {
  width: 28em;
  padding-bottom: 10px;

  &:rtl {
    text-align: right;
  }
}

.end-session-dialog-warning {
  width: 28em;
  color: $warning_color;
  padding-top: 6px;

  &:rtl {
    text-align: right;
  }
}

.end-session-dialog-logout-icon {
  //border: 2px solid #8b8b8b;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  background-size: contain;
}

.end-session-dialog-shutdown-icon {
  color: $fg_color;
  width: 48px;
  height: 48px;
}

.end-session-dialog-inhibitor-layout {
  spacing: 16px;
  max-height: 200px;
  padding-right: 65px;
  padding-left: 65px;
}

.end-session-dialog-app-list,
.end-session-dialog-session-list {
  spacing: 1em;
}

.end-session-dialog-list-header {
  font-weight: bold;

  &:rtl {
    text-align: right;
  }
}

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item {
  spacing: 1em;
}

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name {
  font-weight: bold;
}

.end-session-dialog-app-list-item-description {
  color: darken($fg_color, 5%);
  font-size: 10pt;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
  icon-size: 48px;
}

.mount-question-dialog,
.show-processes-dialog {
  @extend %osd-panel;

  spacing: 24px;
}

.mount-question-dialog-subject,
.show-processes-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}

.mount-question-dialog-subject {
  max-width: 500px;
}

.mount-question-dialog-subject:rtl,
.show-processes-dialog-subject:rtl {
  padding-left: 0;
  padding-right: 17px;
}

.mount-question-dialog-description,
.show-processes-dialog-description {
  padding-left: 17px;
  width: 28em;
}

.mount-question-dialog-description:rtl,
.show-processes-dialog-description:rtl {
  padding-right: 17px;
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}

.show-processes-dialog-app-list-item {
  color: darken($fg_color, 10%);

  &:hover {
    color: $fg_color;
  }

  &:ltr {
    padding-right: 1em;
  }

  &:rtl {
    padding-left: 1em;
  }
}

.show-processes-dialog-app-list-item-icon {
  &:ltr {
    padding-right: 17px;
  }

  &:rtl {
    padding-left: 17px;
  }
}

.show-processes-dialog-app-list-item-name {
  font-size: 10pt;
}

/* Password or Authentication Dialog */
.prompt-dialog {
  @extend %osd-panel;

  //this is the width of the entire modal popup
  width: 500px;
}

.prompt-dialog-main-layout {
  spacing: 24px;
  padding: 10px;
}

.prompt-dialog-message-layout {
  spacing: 16px;
}

.prompt-dialog-headline {
  font-weight: bold;
  color: darken($fg_color, 25%);
}

.prompt-dialog-description:rtl {
  text-align: right;
}

.prompt-dialog-password-box {
  spacing: 1em;
  padding-bottom: 1em;
}

.prompt-dialog-error-label {
  font-size: 10pt;
  color: $error_color;
  padding-bottom: 8px;
}

.prompt-dialog-info-label {
  font-size: 10pt;
  padding-bottom: 8px;
}

.hidden {
  color: rgba(0, 0, 0, 0);
}

.prompt-dialog-null-label {
  font-size: 10pt;
  padding-bottom: 8px;
}

/* Polkit Dialog */
.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px;

  &:rtl {
    padding-left: 0;
    padding-right: 10px;
  }
}

.polkit-dialog-user-root-label {
  color: $warning_color;
}

.polkit-dialog-user-icon {
  border-radius: 5px;
  background-size: contain;
  width: 48px;
  height: 48px;
}

/* Audio selection dialog */
.audio-device-selection-dialog {
  @extend %osd-panel;

  spacing: 30px;
}

.audio-selection-content {
  spacing: 20px;
  padding: 24px;
}

.audio-selection-title {
  font-weight: bold;
  text-align: center;
}

.audio-selection-box {
  spacing: 20px;
}

.audio-selection-device {
  border: 1px solid $border_color;
  border-radius: 12px;

  &:active,
  &:focus,
  &:hover {
    background-color: $primary_color;
  }
}

.audio-selection-device-box {
  padding: 20px;
  spacing: 20px;
}

.audio-selection-device-icon {
  icon-size: 64px;
}

/* Access Dialog */
.access-dialog {
  @extend %osd-panel;

  spacing: 30px;
}

.access-dialog-main-layout {
  padding: 12px 20px 0;
  spacing: 12px;
}

.access-dialog-content {
  max-width: 28em;
  spacing: 20px;
}

.access-dialog-icon {
  min-width: 48px;
  icon-size: 48px;
}

.access-dialog-title {
  font-weight: bold;
}

.access-dialog-subtitle {
  color: darken($fg_color, 30%);
  font-weight: bold;
}

/* Geolocation Dialog */
.geolocation-dialog {
  @extend %osd-panel;

  spacing: 30px;
}

.geolocation-dialog-main-layout {
  spacing: 12px;
}

.geolocation-dialog-content {
  spacing: 20px;
}

.geolocation-dialog-icon {
  icon-size: 48px;
}

.geolocation-dialog-title {
  font-weight: bold;
}

.geolocation-dialog-reason {
  color: darken($fg_color, 30%);
  font-weight: bold;
}

/* Network Agent Dialog */
.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

/* Popovers/Menus */
.popup-menu {
  min-width: 15em;
  border-radius: $standard_radius;

  //defined globally in the TOP BAR
  .popup-sub-menu {
    background-color: mix($bg_color, $base_color, 50%);
    box-shadow: inset 0 -1px 0 $border_color;
  }

  .popup-menu-content {
    padding: 1em 0;
  }

  .popup-menu-item {
    spacing: 10px;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;

    &:ltr {
      padding: 0.25em 1.75em 0.25em 0;
    }

    &:rtl {
      padding: 0.25em 0 0.25em 1.75em;
    }

    &.selected {
      background-color: $hover;
      color: $fg_color;
    }

    &:active,
    &:checked {
      font-weight: normal;
      background-color: $primary_color;
      box-shadow: none;
      color: $selected_fg_color;
    }

    &:checked{
            border-top: 1px solid _border_color($primary_color);
            border-bottom: 1px solid _border_color($primary_color);
    }

    &:insensitive {
      color: transparentize($fg_color, 0.5);
    }
  }

  .popup-inactive-menu-item {
    //all icons and other graphical elements
    color: $fg_color;

    &:insensitive {
      color: transparentize($fg_color, 0.5);
    }
  }

  //.popup-status-menu-item { font-weight: normal;  color: pink; } //dunno what that is
  &.panel-menu {
    -boxpointer-gap: 4px;

    // box-shadow: $_shadow_border;
    box-shadow: none;
    margin-bottom: 1.75em;
  }
}

.popup-menu-ornament {
  text-align: left;
  height: 0px;
  width: 1em;
}

.candidate-popup-boxpointer,
.popup-menu-boxpointer {
  -arrow-border-radius: 6px;
  -arrow-background-color: $base_color;
  -arrow-border-width: 1px;
  -arrow-border-color: $border_color;
  -arrow-base: 24px;
  -arrow-rise: 11px;
  -arrow-box-shadow: 0 1px 3px black;

  //dreaming. bug #689995
}

.popup-separator-menu-item {
  -margin-horizontal: 24px;
  height: 0px;
  padding: 0px;
  margin: 6px 64px;
  background-color: transparent;
  border-color: $border_color;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.background-menu {
  // Background menu
  -boxpointer-gap: 4px;
  -arrow-rise: 0;
}

/* fallback menu
- odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
  app menu inside the main app window itself rather than the top bar
*/
/* OSD */
.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;

  .osd-monitor-label {
    font-size: 3em;
  }

  .level {
    height: 0.6em;
    border-radius: 0.3em;
    background-color: $border_color;
    color: $fg_color;
  }

  .level-bar {
    background-color: $primary_color;
    border-radius: 0.3em;
  }
}

/* Pad OSD */
.pad-osd-window {
  padding: 32px;
  background-color: transparentize(black, 0.2);

  .pad-osd-title-box {
    spacing: 12px;
  }

  .pad-osd-title-menu-box {
    spacing: 6px;
  }
}

.combo-box-label {
  width: 15em;
}

/* App Switcher */
.switcher-popup {
  padding: 8px;
  spacing: 16px;
}

.osd-window,
.resize-popup,
.switcher-list {
  @extend %osd-panel;

  padding: 12px !important;
}

.switcher-list-item-container {
  spacing: 8px;
}

.switcher-list .item-box {
  padding: 8px;
  border-radius: 4px;
}

.switcher-list .item-box:outlined {
  padding: 6px;
  border: 1px solid $border_color;
}

.switcher-list .item-box:selected {
  background-color: $primary_color;
  color: $selected_fg_color;
}

.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}

.switcher-list .thumbnail {
  width: 256px;
}

.switcher-list .separator {
  width: 1px;
  background: $border_color;
}

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: transparentize($fg_color, 0.2);

  &:highlighted {
    color: $fg_color;
  }
}

.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}

/* Window Cycler */
.cycler-highlight {
  border: 5px solid $primary_color;
}

/* Workspace Switcher */
.workspace-switcher-group {
  padding: 12px;
}

.workspace-switcher-container {
  @extend %osd-panel;
}

.workspace-switcher {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  spacing: 8px;
}

.ws-switcher-active-down,
.ws-switcher-active-up {
  height: 50px;
  background-color: $primary_color;
  color: $selected_fg_color;
  background-size: 32px;
  border-radius: 8px;
}

.ws-switcher-active-up {
  background-image: url("assets/ws-switch-arrow-up.png");
}

.ws-switcher-active-down {
  background-image: url("assets/ws-switch-arrow-down.png");
}

.ws-switcher-box {
  height: 50px;
  border: 1px solid transparentize($fg_color, 0.9);
  background: transparent;
  border-radius: 8px;
}

%osd-panel {
  border-radius: 6px;
  color: $fg_color;
  box-shadow: $_shadow_border;
  background-color: $base_color;
  border: 1px solid $border_color;
}

/* Tiled window previews */
.tile-preview {
  background-color: transparentize(white, 0.3);
  border: 1px solid white;
}

.tile-preview-left.on-primary {
  border-radius: 0 0 0 0;
}

.tile-preview-right.on-primary {
  border-radius: 0 0 0 0;
}

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 0 0 0 0;
}

/* TOP BAR */
#panel {
  font-weight: bold;
  height: 2.05em;
  background-color: $panel_bg_color;
  box-shadow: inset 0 -1px black;

  &.lock-screen,
  &.login-screen,
  &.unlock-screen {
    background-color: transparent;
  }

  @include global_menu_padding;

  .panel-corner {
    -panel-corner-radius: 0;
    -panel-corner-background-color: black;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;

    &:active,
    &:focus,
    &:overview {
      -panel-corner-border-color: lighten($primary_color, 5%);
    }

    &.lock-screen,
    &.login-screen,
    &.unlock-screen {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  .panel-button {
    font-weight: bold;
    color: transparentize($panel_fg_color, 0.1);
    transition-duration: 250ms;
    box-shadow: inset 0 0 0 0 transparent;

    .app-menu-icon {
      -st-icon-style: symbolic;
      width: 0;
      margin: 0;
    }

    &:active,
    &:checked,
    &:focus,
    &:hover,
    &:overview {
      // Trick due to St limitations. It needs a background to draw
      // a box-shadow
      background-color: rgba(0, 0, 0, 0.01);
      color: $panel_fg_color;
      box-shadow: inset 0 -2px 0 $primary_color;

      & > .system-status-icon {
        icon-shadow: black 0 2px 2px;
      }
    }

    .popup-menu-arrow {
      width: 0;
      height: 0;
    }

    .system-status-icon {
      icon-size: 1.09em;
    }

    .lock-screen &,
    .login-screen &,
    .unlock-screen & {
      color: lighten($fg_color, 10%);

      &:active,
      &:focus,
      &:hover {
        color: lighten($fg_color, 10%);
      }
    }
  }

  @include uniform_panel_spacing;

  .clock-display {
    // style the notification dot
    StBoxLayout:last-child > StLabel:last-child {
      color: $primary_color;
    }
  }

  // spacing between power icon and (optional) percentage label
  .power-status.panel-status-indicators-box {
    spacing: 0;
  }

  .screencast-indicator {
    color: $warning_color;
  }
}

// calendar popover

#calendarArea {
  padding: 0.75em 1.0em;
}

.calendar {
  margin-bottom: 1em;
}

.calendar,
.datemenu-displays-box,
.datemenu-today-button,
.message-list-sections {
  margin: 0 1.5em;
}

.datemenu-calendar-column {
  spacing: 0.5em;
}

.datemenu-displays-section {
  padding-bottom: 3em;
}

.datemenu-displays-box {
  spacing: 1em;
}

.datemenu-calendar-column {
  border: 0 solid $border_color;

  &:ltr {
    border-left-width: 1px;
  }

  &:rtl {
    border-right-width: 1px;
  }
}

.datemenu-today-button,
.events-section-title,
.weather-button,
.world-clocks-button {
  border-radius: 4px;
  padding: 0.4em;
}

.message-list-section-list:ltr {
  padding-left: 0.4em;
}

.message-list-section-list:rtl {
  padding-right: 0.4em;
}

.datemenu-today-button,
.events-section-title,
.message-list-section-title,
.weather-button,
.world-clocks-button {
  &:focus,
  &:hover {
    background-color: $hover;
  }

  &:active {
    color: $fg_color;
    background-color: $active;
  }
}

.weather-button {}

.datemenu-today-button .day-label {}

.datemenu-today-button .date-label {
  font-size: 1.5em;
}

.events-section-title,
.message-list-section-title,
.weather-header,
.world-clocks-header {
  color: $fg_color;
  font-weight: bold;
}

.message-list-section-close {
  > StIcon {
    background-color: transparent;
    border-radius: 9999px;
    padding: 2px;
    color: $fg_color;
  }

  &:hover StIcon {
    background-color: $hover;
  }

  &:active StIcon {
    background-color: $active;
  }
}

.world-clocks-grid {
  spacing-rows: 0.4em;
}

.weather-box {
  spacing: 0.4em;
}

.calendar-month-label {
  color: darken($fg_color, 5%);
  font-weight: bold;
  padding: 8px 0;

  &:focus {}
}

.pager-button {
  color: white;
  transition-duration: 250ms;
  background-color: transparent;
  width: 32px;
  border-radius: 9999px;

  &:focus,
  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
  }
}

.calendar-change-month-back {
  //arrow back
  & {
    background-image: url("assets/calendar-arrow-left.svg");
  }

  &:hover {
    background-image: url("assets/calendar-arrow-left-hover.svg");
  }

  &:active {
    background-image: url("assets/calendar-arrow-left-active.svg");
  }

  &:rtl {
    & {
      background-image: url("assets/calendar-arrow-right.svg");
    }

    &:hover {
      background-image: url("assets/calendar-arrow-right-hover.svg");
    }

    &:active {
      background-image: url("assets/calendar-arrow-right-active.svg");
    }
  }
}

.calendar-change-month-forward {
  //arrow foreward
  & {
    background-image: url("assets/calendar-arrow-right.svg");
  }

  &:hover {
    background-image: url("assets/calendar-arrow-right-hover.svg");
  }

  &:active {
    background-image: url("assets/calendar-arrow-right-active.svg");
  }

  &:rtl {
    & {
      background-image: url("assets/calendar-arrow-left.svg");
    }

    &:hover {
      background-image: url("assets/calendar-arrow-left-hover.svg");
    }

    &:active {
      background-image: url("assets/calendar-arrow-left-active.svg");
    }
  }
}

.calendar-day-base {
  color: $fg_color;
  font-size: 80%;
  text-align: center;
  width: 2.4em;
  height: 2.4em;
  padding: 0.1em;
  margin: 2px;
  border-radius: 1.4em;

  &:focus,
  &:hover {
    background-color: if($variant == "light", darken($bg_color, 5%), lighten($bg_color, 5%));
  }

  &:active,
  &:selected {
    color: lighten($selected_fg_color, 5%);
    background-color: $primary_color;
    border-color: transparent;

    //avoid jumparound due to today

  }

  &.calendar-day-heading {
    //day of week heading
    color: darken($fg_color, 30%);
    margin-top: 1em;
    font-size: 70%;
  }
}

.calendar-day {
  //border collapse hack - see calendar.js
  border-width: 0;
}

.calendar-day-top {
  border-top-width: 1px;
}

.calendar-day-left {
  border-left-width: 1px;
}

.calendar-work-day {}

.calendar-nonwork-day {
  color: $insensitive_fg_color;
}

.calendar-today {
  font-weight: bold;

  //color: lighten($fg_color,10%);
  //background-color: darken($bg_color,5%);
  border: 1px solid transparentize($border_color, 0.5);
}

.calendar-day-with-events {
  color: if($variant == "light", $primary_color, lighten($fg_color, 10%));
  font-weight: bold;
  background-image: url("assets/calendar-today.svg");
}

.calendar-other-month-day {
  color: transparentize($fg_color, 0.85);
  opacity: 0.5;
}

.calendar-week-number {
  font-size: 70%;
  font-weight: bold;
  width: 2.3em;
  height: 1.8em;
  border-radius: 2px;
  padding: 0.5em 0 0;
  margin: 6px;
  background-color: transparentize($fg_color, 0.7);
  color: $bg_color;
}

/* Message list */
.message-list {
  width: 31.5em;
}

.message-list-clear-button.button {
  @include button(normal);

  margin: 1.5em 1.5em 0;
}

.message-list-sections {
  spacing: 1em;
}

.message-list-section,
.message-list-section-list {
  spacing: 0.4em;
}

.message {
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px $border_color;
  background-color: $base_color;

  &:focus,
  &:hover {
    background-color: $hover;
  }
}

.message-icon-bin {
  padding: 10px 3px 10px 10px;

  &:rtl {
    padding: 10px 10px 10px 3px;
  }
}

.message-icon-bin > StIcon {
  color: $fg_color;
  icon-size: 16px;
  -st-icon-style: symbolic;
}

.message-secondary-bin {
  padding: 0 12px;
}

.message-secondary-bin > .event-time {
  color: $fg_color;
  font-size: 0.7em;

  /* HACK: the label should be baseline-aligned with a 1em label,
           fake this with some bottom padding */
  padding-bottom: 0.13em;
}

.message-secondary-bin > StIcon {
  icon-size: 16px;
}

.message-title {
  color: darken($fg_color, 5%);
}

.message-content {
  color: darken($fg_color, 20%);
  padding: 10px;
}

.message-media-control {
  padding: 12px;
  color: darken($fg_color, 20%);

  &:last-child:ltr {
    padding-right: 18px;
  }

  &:last-child:rtl {
    padding-left: 18px;
  }

  &:hover {
    color: $fg_color;
  }

  &:insensitive {
    color: if($variant == "light", lighten($fg_color, 40%), darken($fg_color, 30));
  }
}

.media-message-cover-icon {
  icon-size: 48px !important;

  &.fallback {
    color: if($variant == "light", $fg_color, lighten($bg_color, 10%));
    background-color: $bg_color;
    border: 2px solid transparent;
    border-radius: 2px;
    icon-size: 16px;
    padding: 8px;
  }
}

// a little unstructured mess:

.system-switch-user-submenu-icon.user-icon {
  icon-size: 20px;
  padding: 0 2px;
}

.system-switch-user-submenu-icon.default-icon {
  icon-size: 16px;
  padding: 0 4px;
}

#appMenu {
  spinner-image: url("assets/process-working.svg");
  padding: 0 7px 0 6px;
  spacing: 4px;

  .label-shadow {
    color: transparent;
  }
}

.aggregate-menu {
  min-width: 20em;

  .popup-menu-icon {
    padding: 0 4px;
  }
}

.system-menu-action {
  color: $fg_color;
  border-radius: 32px;
  padding: 13px;
  border: 1px solid transparent;

  &:focus,
  &:hover {
    background-color: transparentize($fg_color, 0.9);
    color: $fg_color;
    border: none;
    padding: 14px;
  }

  &:active {
    background-color: $primary_color;
    color: $selected_fg_color;
  }

  & > StIcon {
    icon-size: 16px;
  }
}

//Activities Ripples

.ripple-box {
  width: 52px;
  height: 52px;
  background-image: "resource:///org/gnome/shell/theme/corner-ripple-ltr.png";
  background-size: contain;
}

.ripple-box:rtl {
  background-image: url("resource:///org/gnome/shell/theme/corner-ripple-rtl.png");
}

// not really top bar only

.popup-menu-arrow {
  width: 16px;
  height: 16px;
}

.popup-menu-icon {
  icon-size: 1.09em;
}

//close buttons

.window-close {
  background-image: url("assets/close-window.svg");
  background-size: 32px;
  height: 32px;
  width: 32px;
}

.window-close {
  -shell-close-overlap: 16px;

  &:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
}

/* NETWORK DIALOGS */
.nm-dialog {
  @extend %osd-panel;

  max-height: 500px;
  min-height: 450px;
  min-width: 470px;
}

.nm-dialog-content {
  spacing: 20px;
  padding: 24px;
}

.nm-dialog-header-hbox {
  spacing: 10px;
}

.nm-dialog-airplane-box {
  spacing: 12px;
}

.nm-dialog-airplane-headline {
  font-weight: bold;
  text-align: center;
}

.nm-dialog-airplane-text {
  color: $fg_color;
}

.nm-dialog-header-icon {
  icon-size: 32px;
}

.nm-dialog-scroll-view {
  border: 2px solid $border_color;
}

.nm-dialog-header {
  font-weight: bold;
}

.nm-dialog-item {
  font-size: 110%;
  border-bottom: 1px solid $border_color;
  padding: 12px;
  spacing: 20px;
}

.nm-dialog-item:selected {
  background-color: $primary_color;
  color: $selected_fg_color;
}

.nm-dialog-icons {
  spacing: 0.5em;
}

.nm-dialog-icon {
  icon-size: 16px;
}

.no-networks-label {
  color: #999999;
}

.no-networks-box {
  spacing: 12px;
}

/* OVERVIEW */
#overview {
  background: $overview_bg url("assets/noise-texture.png");
  background-repeat: repeat;
  spacing: 24px;
}

.overview-controls {
  padding-bottom: 32px;
}

.window-picker {
  //container around window thumbnails
  -horizontal-spacing: 32px;
  -vertical-spacing: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 48px;

  &.external-monitor {
    padding: 32px;
  }
}

.window-clone-border {
  border: 6px solid transparentize(white, 0.3);
  border-radius: 4px;

  // For window decorations with round corners we can't match
  // the exact shape when the window is scaled. So apply a shadow
  // to fix that case
  box-shadow: inset 0 0 0 1px transparentize(white, 0.3);
}

.window-caption {
  spacing: 25px;
  color: $light_fg_color;
  background-color: transparentize($dark_base_color, 0.15);
  border-radius: 8px;
  padding: 4px 12px;
  -shell-caption-spacing: 12px;

  &:hover {
    background-color: $dark_base_color;
  }
}

//search entry

.search-entry {
  width: 320px;
  padding: 6px 8px;

  @include entry;

  &:focus, &:hover {
    padding: 6px 8px;
  }

  .search-entry-icon {
    icon-size: 1em;
    padding: 0 4px;
    color: if($variant == "light", $fg_color, transparentize(white, 0.3));

    &:focus,
    &:hover {
      .search-entry-icon {
        color: if($variant == "light", $primary_color, $fg_color);
      }
    }
  }
}

//search results

#searchResultsBin {
  max-width: 1000px;
}

#searchResultsContent {
  padding-left: 20px;
  padding-right: 20px;
  spacing: 16px;
}

.search-section {
  spacing: 16px;
}

// This should be equal to #searchResultsContent spacing

.search-section-content {
  spacing: 32px;
}

// This is the space between the provider icon and the results container

.search-statustext {
  // "no results"
  @extend %status_text;
}

.list-search-results {
  spacing: 3px;
}

.search-section-separator {
  -gradient-height: 1px;
  -gradient-start: rgba(255, 255, 255, 0);
  -gradient-end: rgba(255, 255, 255, 0.1);
  -margin-horizontal: 1.5em;
  height: 1px;
}

.list-search-result-content {
  spacing: 12px;
  padding: 12px;
}

.list-search-result-title {
  font-size: 1.5em;
  color: darken(white, 5%);
}

.list-search-result-description {
  color: darken(white, 15%);
}

.search-provider-icon {
  padding: 15px;
}

.search-provider-icon-more {
  width: 16px;
  height: 16px;
  background-image: url("resource:///org/gnome/shell/theme/more-results.svg");
}

/* DASHBOARD */
#dash {
  font-size: 9pt;
  color: $fg_color;
  background-color: $overview_bg;
  border: 1px solid $overview_border_color;
  border-left: 0;
  border-radius: 0 9px 9px 0;

  &:rtl {
    border-radius: 9px 0 0 9px;
  }

  .placeholder {
    background-image: url("assets/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
  }

  .empty-dash-drop-target {
    width: 24px;
    height: 24px;
  }
}

.dash-item-container > StWidget {
  padding: 4px 8px;
}

.dash-label {
  //osd tooltip
  border-radius: 7px;
  padding: 4px 12px;
  color: $fg_color;
  background-color: $base_color;
  border: 1px solid $border_color;
  text-align: center;
  -x-offset: 8px;
}

@include shrink_dash_to_dock;
@include new_hover_effects;
@include fancy_dock;

/* App Vault/Grid */
.icon-grid {
  spacing: 30px;
  -shell-grid-horizontal-item-size: 136px;
  -shell-grid-vertical-item-size: 136px;

  .overview-icon {
    icon-size: 48px;
  }

  //.overview-icon-with-label:last-child {spacing: 8px;}
}

//.app-display { spacing: 20px; }

.app-view-controls {
  //favorties | all toggle container
  padding-bottom: 32px;
}

.app-view-control {
  //favorties | all toggle button
  padding: 4px 32px;

  @include button(app-view);

  &:last-child {
    @include button(app-view-last-child);
  }
}

//Icon tile

.list-search-result,
.search-provider-icon {
  @extend %icon_tile;
}

.app-well-app,
.app-well-app.app-folder,
.grid-search-result,
.show-apps {
  & .overview-icon {
    @extend %icon_tile;
  }

  &:focus .overview-icon, &:hover .overview-icon {
    @extend %icon_tile:hover;
  }

  &:active .overview-icon,
  &:checked .overview-icon {
    @extend %icon_tile:active;
  }
}

.show-apps {
  // app grid icon focus effects
  &:hover, &:focus {
    .overview-icon:last-child :first-child {
      color: $primary_color;
    }
  }

  &:checked, &:active {
    .overview-icon:last-child :first-child {
      color: darken($primary_color, 5%);
    }
  }
}

.app-well-app-running-dot {
  //running apps indicator
  width: 10px;
  height: 3px;
  background-color: $primary_color;
  margin-bottom: 2px;
}

%icon_tile {
  color: white;
  padding: 6px;
  border-radius: 0;
  border: 1px solid transparent;
  transition-duration: 100ms;
  text-align: center;

  &:hover, &:focus {
    background-color: $overview_bg;
    box-shadow: inset 0 0 0 1px $overview_border_color;
  }

  &:active {
    background-color: darken($overview_bg, 5%);
    box-shadow: inset 0 0 0 1px darken($overview_border_color, 5%);
  }
}

.app-well-app.app-folder > .overview-icon {
  background-color: $overview_bg;
  box-shadow: inset 0 0 0 1px $overview_border_color;

  &:hover, &:focus, &:active {
    background-color: darken($overview_bg, 5%);
    box-shadow: inset 0 0 0 1px darken($overview_border_color, 5%);
  }
}

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
  color: white;
  transition-duration: 100ms;
}

// Collections

.app-folder-popup {
  //expanded collection
  -arrow-border-radius: 8px;
  -arrow-background-color: $overview_bg;
  -arrow-border-color: $overview_border_color;
  -arrow-base: 24px;
  -arrow-rise: 11px;
}

.app-folder-popup-bin {
  padding: 5px;
}

.app-folder-icon {
  padding: 5px;
  spacing-rows: 5px;
  spacing-columns: 5px;
}

.page-indicator {
  padding: 15px 20px;

  .page-indicator-icon {
    width: 18px;
    height: 18px;
    background-image: url("resource:///org/gnome/shell/theme/page-indicator-inactive.svg");
  }

  &:hover .page-indicator-icon {
    background-image: url("resource:///org/gnome/shell/theme/page-indicator-hover.svg");
  }

  &:active .page-indicator-icon {
    background-image: url("resource:///org/gnome/shell/theme/page-indicator-active.svg");
  }

  &:checked .page-indicator-icon,
  &:checked:active {
    background-image: url("resource:///org/gnome/shell/theme/page-indicator-checked.svg");
  }
}

.no-frequent-applications-label {
  @extend %status_text;
}

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
  padding: 10px 8px 5px;
  spacing: 4px;
}

// Workspace pager

.workspace-thumbnails {
  //container ala dash
  visible-width: 32px;
  background-color: $overview_bg;
  border-color: $overview_border_color;

  //amount visible before hover
  spacing: 12px;
  padding: 8px;
  border-radius: 9px 0 0 9px;

  //border-width: 1px 0 1px 1px; //fixme: can't have non unoform border :(
  &:rtl {
    border-radius: 0 9px 9px 0;
  }
}

.workspace-thumbnail-indicator {
  border: 4px solid $primary_color;
  padding: 1px;
}

//Some hacks I don't even

.all-apps,
.frequent-apps > StBoxLayout,
.search-display > StBoxLayout {
  // horizontal padding to make sure scrollbars or dash don't overlap content
  padding: 0 88px 10px;
}

%overview-panel {
  color: white;
  background-color: $base_color;
  border: 1px solid $border_color;
}

%status_text {
  font-size: 2em;
  font-weight: bold;
  color: $light_fg_color;
}

/* NOTIFICATIONS & MESSAGE TRAY */
.url-highlighter {
  link-color: lighten($primary_color, 10%);
}

// Banners

.notification-banner {
  font-size: 11pt;
  width: 34em;
  margin: 5px;
  border: 1px solid $border_color;
  box-shadow: inset 0 0 0 1px $border_color;
  background-color: $base_color;
  border-radius: $standard_radius;
  box-shadow: none;

  &:hover {
    background-color: darken($base_color, 2.5%);
  }

  &:active {
    background-color: darken($base_color, 5%);
  }

  .notification-icon {
    padding: 5px;
  }

  .notification-content {
    padding: 5px;
    spacing: 5px;
  }

  .secondary-icon {
    icon-size: 1.09em;
  }

  .notification-actions {
    background-color: $base_color;
    padding-top: 2px;
    border-width: 0 1px 1px 1px;
  }

  .notification-button {
    padding: 4px 4px 5px;

    @include button(linked);

    &:first-child:last-child {
      @include button(linked-end);
    }

    &:first-child {
      @include button(linked);
    }

    &:last-child {
      @include button(linked-end);
    }

    border-color: $border_color;
    border-style: solid;
    spacing: 1px;
  }
}

.summary-source-counter {
  font-size: 10pt;
  font-weight: bold;
  height: 1.6em;
  width: 1.6em;
  -shell-counter-overlap-x: 3px;
  -shell-counter-overlap-y: 3px;
  background-color: $primary_color;
  color: $selected_fg_color;
  border: 2px solid $fg_color;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.9em;

  // should be 0.8 but whatever; wish I could do 50%;
}

.secondary-icon {
  icon-size: 1.09em;
}

//chat bubbles

.chat-body {
  spacing: 5px;
}

.chat-response {
  margin: 5px;
}

.chat-log-message {
  color: darken($fg_color, 10%);
}

.chat-new-group {
  padding-top: 1em;
}

.chat-received {
  padding-left: 4px;

  &:rtl {
    padding-left: 0;
    padding-right: 4px;
  }
}

.chat-sent {
  padding-left: 18pt;
  color: darken($fg_color, 15%);

  &:rtl {
    padding-left: 0;
    padding-right: 18pt;
  }
}

.chat-meta-message {
  padding-left: 4px;
  font-size: 9pt;
  font-weight: bold;
  color: darken($fg_color, 20%);

  &:rtl {
    padding-left: 0;
    padding-right: 4px;
  }
}

//hotplug

.hotplug-transient-box {
  spacing: 6px;
  padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
  padding: 2px 10px;

  &:focus {
    padding: 1px 71px 1px 11px;
  }
}

.hotplug-notification-item-icon {
  icon-size: 24px;
  padding: 2px 5px;
}

.hotplug-resident-box {
  spacing: 8px;
}

.hotplug-resident-mount {
  spacing: 8px;
  border-radius: 4px;

  &:hover {
    background-color: transparentize($bg_color, 0.7);
  }
}

.hotplug-resident-mount-label {
  color: inherit;
  padding-left: 6px;
}

.hotplug-resident-mount-icon {
  icon-size: 24px;
  padding-left: 6px;
}

.hotplug-resident-eject-icon {
  icon-size: 16px;
}

.hotplug-resident-eject-button {
  padding: 7px;
  border-radius: 5px;
  color: pink;
}

/* Eeeky things */
$legacy_icon_size: 24px;

.legacy-tray {
  background-color: $bg_color;
  border: 1px solid $border_color;
  border-bottom-width: 0;

  &:ltr {
    border-radius: 0 6px 0 0;
    border-left-width: 0;
  }

  &:rtl {
    border-radius: 6px 0 0 0;
    border-right-width: 0;
  }
}

.legacy-tray-handle,
.legacy-tray-icon {
  padding: 6px;

  & StIcon {
    icon-size: $legacy_icon_size;
  }

  &:focus,
  &:hover {
    background-color: transparentize($fg_color, 0.9);
  }
}

.legacy-tray-icon-box {
  spacing: 12px;

  &:ltr {
    padding-left: 12px;
  }

  &:rtl {
    padding-right: 12px;
  }

  & StButton {
    width: $legacy_icon_size;
    height: $legacy_icon_size;
  }
}

//magnifier

.magnifier-zoom-region {
  border: 2px solid $primary_color;

  &.full-screen {
    border-width: 0;
  }
}

//Keyboard
/* On-screen Keyboard */
#keyboard {
  background-color: transparentize($base_color, 0.3);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  @include button(normal);

  min-height: 2em;
  min-width: 2em;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid $border_color;
  color: $fg_color;

  &:hover {
    @include button(hover);
  }

  &:active {
    @include button(active);
  }

  &:checked,
  &:focus {
    @include button(focus);
  }

  &:insensitive {
    @include button(insensitive);
  }

  &:grayed {
    //FIXME
    background-color: $base_color;
    color: white;
    border-color: $border_color;
  }
}

.keyboard-subkeys {
  //long press on a key popup
  color: white;
  padding: 5px;
  -arrow-border-radius: 10px;
  -arrow-background-color: transparentize($base_color, 0.3);
  -arrow-border-width: 2px;
  -arrow-border-color: $border_color;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

// IBus Candidate Popup

.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em;
}

.candidate-index {
  padding: 0 0.5em 0 0;
  color: darken($fg_color, 10%);
}

.candidate-box {
  padding: 0.3em 0.5em;
  border-radius: 4px;

  &:hover,
  &:selected {
    background-color: $primary_color;
    color: $selected_fg_color;
  }
}

.candidate-page-button-box {
  height: 2em;

  .vertical & {
    padding-top: 0.5em;
  }

  .horizontal & {
    padding-left: 0.5em;
  }
}

.candidate-page-button {
  padding: 4px;
}

.candidate-page-button-previous {
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
}

.candidate-page-button-next {
  border-radius: 0 4px 4px 0;
}

.candidate-page-button-icon {
  icon-size: 1em;
}

/* Auth Dialogs & Screen Shield */
.framed-user-icon {
  background-size: contain;
  border: 2px solid $fg_color;
  color: $fg_color;
  border-radius: 3px;

  &:hover {
    border-color: lighten($fg_color, 30%);
    color: lighten($fg_color, 30%);
  }
}

// LOGIN DIALOG

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}

.login-dialog {
  //reset
  border: none;
  background-color: transparent;

  .modal-dialog-button-box {
    spacing: 3px;
  }

  .modal-dialog-button {
    padding: 3px 18px;

    @include button(normal);
  }
}

.login-dialog-logo-bin {
  padding: 24px 0;
}

.login-dialog-banner {
  color: darken($fg_color, 10%);
}

.login-dialog-button-box {
  spacing: 5px;
}

.login-dialog-message-warning {
  color: $warning_color;
}

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px;
}

.login-dialog-user-selection-box {
  padding: 100px 0;

  .login-dialog-not-listed-label {
    padding-left: 2px;

    .login-dialog-not-listed-button:focus &,
    .login-dialog-not-listed-button:hover & {
      color: $fg_color;
    }
  }
}

.login-dialog-not-listed-label {
  font-size: 90%;
  font-weight: bold;
  color: darken($fg_color, 30%);
  padding-top: 1em;
}

.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}

.login-dialog-user-list {
  spacing: 12px;
  padding: 0.2em;
  width: 23em;

  &:expanded .login-dialog-user-list-item:focus {
    background-color: $primary_color;
    color: $selected_fg_color;
  }

  &:expanded .login-dialog-user-list-item:logged-in {
    border-right: 2px solid $primary_color;
  }
}

.login-dialog-user-list-item {
  border-radius: 5px;
  padding: 0.2em;
  color: darken($fg_color, 30%);

  &:ltr {
    padding-right: 1em;
  }

  &:rtl {
    padding-left: 1em;
  }

  &:hover {
    background-color: $primary_color;
    color: $selected_fg_color;
  }

  .login-dialog-timed-login-indicator {
    height: 2px;
    margin: 2px 0 0;
    background-color: $fg_color;
  }

  &:focus .login-dialog-timed-login-indicator {
    background-color: $selected_fg_color;
  }
}

.login-dialog-username,
.user-widget-label {
  color: $fg_color;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.user-widget-label {
  &:ltr {
    padding-left: 18px;
  }

  &:rtl {
    padding-right: 18px;
  }
}

.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em;
}

.login-dialog-prompt-label {
  color: darken($fg_color, 20%);
  font-size: 110%;
  padding-top: 1em;
}

.login-dialog-session-list-button StIcon {
  icon-size: 1.25em;
}

.login-dialog-session-list-button {
  color: darken($fg_color, 30%);

  &:focus,
  &:hover {
    color: $fg_color;
  }

  &:active {
    color: darken($fg_color, 50%);
  }
}

//SCREEN SHIELD

.screen-shield-arrows {
  padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
  color: white;
  width: 80px;
  height: 48px;
  -arrow-thickness: 12px;
  -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.screen-shield-clock {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5em;
}

.screen-shield-clock-time {
  font-size: 72pt;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.screen-shield-clock-date {
  font-size: 28pt;
}

.screen-shield-notifications-container {
  spacing: 6px;
  width: 30em;
  background-color: transparent;
  max-height: 500px;

  .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
  }

  .notification,
  .screen-shield-notification-source {
    padding: 12px 6px;
    border: 1px solid $border_color;
    background-color: transparentize($base_color, 0.5);
    color: $fg_color;
    border-radius: 4px;
  }

  .notification {
    margin-right: 15px;
  }

  //compensate for space allocated to the scrollbar
}

.screen-shield-notification-label {
  font-weight: bold;
  padding: 0 0 0 12px;
}

.screen-shield-notification-count-text {
  padding: 0 0 0 12px;
}

#panel.lock-screen {
  background-color: transparentize($base_color, 0.5);
}

.screen-shield-background {
  //just the shadow, really
  background: black;
  box-shadow: 0 2px 4px transparentize(black, 0.6);
}

#lockDialogGroup {
  background: $overview_bg url("resource:///org/gnome/shell/theme/noise-texture.png");
  background-repeat: repeat;
}

#screenShieldNotifications {
  StButton#hhandle,
  StButton#vhandle {
    background-color: transparentize($bg_color, 0.7);

    &:focus,
    &:hover {
      background-color: transparentize($bg_color, 0.5);
    }

    &:active {
      background-color: transparentize($primary_color, 0.5);
    }
  }
}

// Looking Glass

#LookingGlassDialog {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;

  & > #Toolbar {
    border: 1px solid grey;
    border-radius: 4px;
  }

  .labels {
    spacing: 4px;
  }

  .notebook-tab {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #ccc;
    transition-duration: 100ms;
    padding-left: 0.3em;
    padding-right: 0.3em;

    &:hover {
      color: white;
      text-shadow: black 0 2px 2px;
    }

    &:selected {
      border-bottom-width: 2px;
      border-color: $primary_color;
      color: white;
      text-shadow: black 0 2px 2px;
    }
  }

  StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
  }

  StBoxLayout#ResultsArea {
    spacing: 4px;
  }
}

.lg-dialog {
  StEntry {
    selection-background-color: #bbbbbb;
    selected-color: #333333;
  }

  .shell-link {
    color: #999999;

    &:hover {
      color: #dddddd;
    }
  }
}

.lg-completions-text {
  font-size: 0.9em;
  font-style: italic;
}

.lg-obj-inspector-title {
  spacing: 4px;
}

.lg-obj-inspector-button {
  border: 1px solid gray;
  padding: 4px;
  border-radius: 4px;

  &:hover {
    border: 1px solid #ffffff;
  }
}

#lookingGlassExtensions {
  padding: 4px;
}

.lg-extensions-list {
  padding: 4px;
  spacing: 6px;
}

.lg-extension {
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  padding: 4px;
}

.lg-extension-name {
  font-weight: bold;
}

.lg-extension-meta {
  spacing: 6px;
}

#LookingGlassPropertyInspector {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid grey;
  border-radius: 4px;
  padding: 6px;
}
