// big and ugly "functional" pieces of the theme, included here for easy reuse in other themes
@mixin global_menu_padding {
  #panel {
    .applet-box {
      // imterim global menu support | creds to neowiz73 from omgubuntu! > honestly didn't think his suggestion would work
      .applet-menu-content {
        // they're popup-menu-items and the spacing should be consistent, in this theme the spacing is 12px, we're dividing that by half
        spacing: 6px;
      }

      .popup-menu-item {
        // no padding just looks weird so we're going to use the remaining spacing to make the menu items themselves look nicer
        padding: 0 6px;
        color: $panel_fg_color;

        &:hover {
          // hover effect consistent with regular panel buttons
          color: lighten($panel_fg_color, 10%);
        }

        &:active,
        &:checked,
        &:focus {
          // same as above
          background-color: rgba(0, 0, 0, 0.01);
          box-shadow: inset 0 -2px 0 lighten($primary_color, 5%);
          color: lighten($panel_fg_color, 10%);
        }
      }
    }
  }
}

@mixin uniform_panel_spacing {
  // Makes spacing between indicators and the aggregate menu uniform
  #panelRight {
    .panel-button, .panel-status-indicators-box,
    .panel-status-menu-box, .system-status-icon {
      // reset everything
      -natural-hpadding: 0px;
      -minimum-hpadding: 0px;
      spacing: 0px;
      padding: 0px;
    }

    .panel-button {
      -natural-hpadding: 5px !important;
    }

    .panel-status-indicators-box {
      .system-status-icon {
        padding: 0 3px 0 3px !important;
        spacing: 3px;
      }
    }
  }

  #panelLeft, #panelCenter {
    .panel-button {
      -natural-hpadding: 10px;
      -minimum-hpadding: 10px;
      spacing: 0px;
    }
  }

  #panel .popup-menu-arrow {
    // remove dropdown arrows from the top panel
    min-width: 0px !important;
    width: 0px !important;
    padding: 0px !important;
    -natural-hpadding: 0px !important;
    height: 0px;
  }
}

@mixin shrink_dash_to_dock {
  // Shrink the dash by reducing padding and border radius
  #dashtodockContainer #dash,
  #dashtodockContainer.dashtodock #dash {
    border: 0;
    padding: 0;
  }

  #dashtodockContainer .dash-item-container > StButton,
  #dashtodockContainer.dashtodock .dash-item-container > StButton {
    padding: 1px 2px;
  }
}

@mixin new_hover_effects {
  // Get rid of default hover effects -> only applies to dash to dock because not everyone uses dash to dock
  #dashtodockContainer #dash {
    .app-well-app, .show-apps {
      &:active,
      &:focus,
      &:hover {
        .overview-icon {
          background-color: transparent;
          box-shadow: none;
        }
      }

      &:hover, &:focus {
        background-color: $overview_bg;
      }

      &:active, &:checked {
        background-color: darken($overview_bg, 5%);
      }
    }
  }
}

@mixin fancy_dock {
  // Fancify the dash

  #dashtodockContainer {
    .app-well-app-running-dot {
      //hide the default indicators
      background-color: transparent;
      height: 2px;
      margin-bottom: 0px;
    }

    @for $i from 1 through 4 {
      // add the new indicators
      .running#{$i} {
        .app-well-app-running-dot {
          background-image: url("assets/dash/running#{$i}-indicator.svg");
        }
      }
    }
  }

  @each $g in left right top bottom {
    // variables still have to be declared before being assigned
    $border_width: null;

    @if $g == "left" {
      // if the dock is pinned to the left ☜(ﾟ∀ﾟ☜)
      $border_width: 1px 1px 1px 0;
    }

    @if $g == "right" {
      // to the right (☞ﾟ∀ﾟ)☞
      $border_width: 1px 0 1px 1px;
    }

    @if $g == "bottom" {
      // now down ☟(˚▽˚)☟
      $border_width: 1px 1px 0 1px;
    }

    @if $g == "top" {
      // and up ☝(˚▽˚)☝
      $border_width: 0px 1px 1px 1px;
    }

    #dashtodockContainer.#{$g} {
      #dash {
        // the dash's appearance
        border: 1px solid $overview_border_color;
        border-width: $border_width;
      }
    }
  }
}
