$adwaita_blue: #4A90D9;
$adwaita_fg: #2E3436;
$adwaita_dark_blue: #215D9C;
$adwaita_dark_fg: #E5E5E5;
//
$porcelain: #F7F7F7;
$warm_grey: #AEA79F;
$silk: #CCC;
$dark: #242429;
$light_dark: #303037;
$jet: #181818;
$inkstone: #3E3E3E;
$slate: #5e5e5e;
$graphite: #666666;
$ash: #878787;
//
$red: #E9394C;
$blue: #30B4E9;
$green: #48B259;
$purple: #742970;
$yellow: #F59B33;
$orange: #E75731;
